---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Introduction from "../sections/Introduction.astro";
import Poem from "../sections/Poem.astro";
import Lore from "../sections/Lore.astro";
---

<Layout>
  <main>
    <Hero />
    <Introduction />
    <Poem />
    <Lore />
  </main>
</Layout>
