---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Introduction from "../sections/Introduction.astro";
---

<Layout>
  <main>
    <Hero />
    <Introduction />
  </main>
</Layout>
