<section class="w-screen h-full bg-[#2b352c] px-12">
  <div class="grid grid-cols-[1fr_2fr] pt-36">
    <div></div>
    <div class="w-full h-[500px] overflow-hidden relative slow-element">
      <img
        src="/nature.jpg"
        alt="Photo of nature"
        class="object-cover w-[calc(100%_+_300px)] h-[calc(100%_+_300px)] parallax-img"
      />
    </div>
  </div>
</section>

<script type="module">
  import Lenis from "../../node_modules/lenis";

  const lenis = new Lenis({
    duration: 1.2,
    lerp: 0.1,
    smoothWheel: true,
  });

  function raf(time) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  requestAnimationFrame(raf);

  lenis.on("scroll", () => {
    const container = document.querySelector(".slow-element");
    const img = container.querySelector(".parallax-img");

    const containerTop = container.getBoundingClientRect().top;
    const containerHeight = container.offsetHeight;
    const windowHeight = window.innerHeight;

    if (containerTop < windowHeight && containerTop + containerHeight > 0) {
      const progress =
        (windowHeight - containerTop) / (windowHeight + containerHeight);
      const parallaxOffset = (progress - 0.7) * 200;
      img.style.transform = `translateY(${parallaxOffset}px)`;
    }
  });
</script>
