<section class="w-full h-full max-h-screen grid grid-cols-1 lg:grid-cols-2 bg-[#30493d]">
    <div class="h-[300px] sm:h-[400px] lg:max-h-screen overflow-hidden relative slow-element-lore">
      <img
        src="/nature-3.jpg"
        alt="nature and mountains"
        class="w-[calc(100%_+_300px)] h-[calc(100%_+_300px)] object-cover object-center parallax-img-lore"
      />
    </div>
    <div class="p-6 sm:p-12 lg:p-24">
      <span class="text-base sm:text-lg text-[#d1ccbf] font-medium tracking-normal">
        The Embrace of Living
      </span>
      <h3 class="text-2xl sm:text-3xl lg:text-4xl text-[#d1ccbf] font-normal text-balance tracking-normal mt-6 sm:mt-8 lg:mt-12">
        Finding Solace in <span class="text-[#ca7d57]">Nature’s</span> Quiet Wonderlands
      </h3>      <p
        class="text-sm sm:text-base max-w-xs sm:max-w-sm lg:max-w-80 font-medium text-[#d1ccbf] mt-6 sm:mt-8 lg:mt-12 text-pretty tracking-tight leading-[1.1]"
      >
        Nature captivates me because it quietly weaves moments of awe into the
        fabric of every day—like the glow of early morning light filtering through
        towering pines, or the hush of a fern-lined path after a gentle rainfall.
      </p>
    </div>
  </section>
  
  <script type="module">
    import Lenis from "../../node_modules/lenis";
  
    const lenis = new Lenis({
      duration: 1.2,
      lerp: 0.1,
      smoothWheel: true,
    });
  
    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }
  
    requestAnimationFrame(raf);
  

    lenis.on("scroll", () => {
    const container = document.querySelector(".slow-element-lore");
    const img = container.querySelector(".parallax-img-lore");

    const containerTop = container.getBoundingClientRect().top;
    const containerHeight = container.offsetHeight;
    const windowHeight = window.innerHeight;

    if (containerTop < windowHeight && containerTop + containerHeight > 0) {
      const progress =
        (windowHeight - containerTop) / (windowHeight + containerHeight);
      const parallaxOffset = (progress - 0.7) * 200;
      img.style.transform = `translateY(${parallaxOffset}px)`;
    }
  });
  </script>
  