<section class="w-full h-full max-h-screen grid grid-cols-2 bg-[#30493d]">
  <div class="max-h-screen">
    <img
      src="/nature-3.jpg"
      alt="nature and mountains"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="p-24">
    <span class="text-lg text-[#d1ccbf] font-medium tracking-normal">
      The Embrace of Living
    </span>
    <h3 class="text-4xl text-[#d1ccbf] font-normal text-balance tracking-normal mt-12">
      Finding Solace in <span class="text-[#ca7d57]">Nature’s</span> Quiet Wonderlands
    </h3>
    <p
      class="text-base max-w-80 font-medium text-[#d1ccbf] mt-12 text-pretty tracking-tight leading-[1.1]"
    >
      Nature captivates me because it quietly weaves moments of awe into the
      fabric of every day—like the glow of early morning light filtering through
      towering pines, or the hush of a fern-lined path after a gentle rainfall.
    </p>
  </div>
</section>
