<section
  class="w-full h-full grid grid-cols-[1fr_2fr] pt-36 pb-48 px-12 bg-[#2b352c]"
>
  <div>
    <h3 class="text-xl text-[#d1ccbf] font-medium tracking-normal">
      Introduction
    </h3>
  </div>
  <div>
    <p
      class="text-4xl text-[#d1ccbf] font-nomal text-pretty tracking-tight leading-[1.1]"
    >
      <span class="px-8"></span>The gentle rustling of leaves in a passing
      breeze <span class="text-[#ca7d57]"> stirs my curiosity </span>, urging me
      to look closer at the colors and textures that fill the world around me.
    </p>
    <p
      class="text-base max-w-96 text-[#d1ccbf] font-nomal mt-16 text-balance tracking-tight leading-[1.1]"
    >
      The scent of damp earth after rain awakens a sense of belonging, as if
      every drop of water reconnects me to the essence of who I am.
    </p>
  </div>
</section>
