---
import "@fontsource-variable/quicksand";
import Header from "../components/Header.astro";
import "lenis/dist/lenis.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Nature</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,
  body {
    width: 100%;
    height: 100%;
  }
  html {
    scroll-behavior: auto;
  }
  body {
    overflow-x: hidden;
    overflow-y: hidden;

    @media (max-width: 768px) {
      overflow-y: auto;
    }

    font-family: "Quicksand Variable", sans-serif;
  }
</style>
